.items{
    width: 320px;
    margin: 20px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    background-color: rgb(226, 226, 226);
    padding: 15px 10px;   
}

.items:hover{
    background-color: lightslategray;
}

div img{
    width: 300px;
    height: 200px;
    margin: 10px 0px;
    border: 3px solid lightGray;
    border-radius: 10px;
}

.items img h5{
    font-size: 18px;
}